
<ion-content [fullscreen]="true">

  <ion-modal [isOpen]="isModalOpen" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>New geo-point</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Set geo-point name</ion-label>
          <ion-input type="text" placeholder="New Point" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Sensor type</ion-label>
          <ion-input type="text" placeholder="New Point" [(ngModel)]="sensor_type"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Lat</ion-label>
          <ion-input [disabled]=true type="text" [(ngModel)]="lat"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Long</ion-label>
          <ion-input [disabled]=true type="text" [(ngModel)]="long"></ion-input>
        </ion-item>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 20px; margin-bottom: 20px">
          <ion-fab-button>
            <ion-icon name="camera" (click)="currentPhoto()"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="currentLocation();setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="mapId" style="width: 100%; height: 100%">
  </div>

</ion-content>
